# vim as default
export EDITOR="vim"

# Don’t clear the screen after quitting a manual page
export MANPAGER="less -X"

# Prefer US English and use UTF-8
export LC_ALL="en_US.UTF-8"
export LANG="en_US"

export GOPATH=$HOME/go:/usr/local/go/:$HOME/analytics/go
export GO15VENDOREXPERIMENT=1
export PATH=/usr/local/go/bin:$HOME/go/bin:$HOME/.gotools/bin:$PATH:$HOME/bin
